cmake==0.9.0
matplotlib==2.0.2
numpy==1.14.0
pandas>=0.21.0
seaborn==0.8.1
plotly==2.2.1
genepattern-notebook=<0.7.1
ipywidgets==7.1.0
notebook>=5.2.2
scipy
louvain==0.6.1
beakerx==0.11.0
scanpy==0.4.2
